/*
font-family: 'Merriweather', serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Press Start 2P', cursive;
*/


body,html{
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
	background: #000;
	
}
.content0{
	height: 6vh;
	width: 100%;
	background:#000;
}
.main-menu{
	font-family: 'Amatic SC', cursive;
	list-style: none; 
	font-size: 115%;
	margin-left: 8%;
}
.main-menu li{
    display: inline-block;
	margin-left: 10%;
}
.stati{
	width: 4.3%;
	height: 4%;
	border: 1px solid white;
	position: absolute;
	top:2.5%;
}
.st{
	width: 220%;
	height: 100%;
	background: black;
	list-style: none;
	opacity: 0;
	transition: 0.5s all ease;
	border: 1.5px solid white
}
.st a{
	color: white;
	padding-left:20%;
	padding-right:20%;
}
.st:nth-child(1) a{
	padding-right: 57%;
}
.st:nth-child(2) a{
	padding-right: 40%;
}
.st:nth-child(3) a{
	padding-right: 43%;
}
.st:nth-child(2){
	transform: translateY(-100%);
}
.st:nth-child(3){
	transform: translateY(-200%);
}
.st:nth-child(4){
	transform: translateY(-300%);
}
.main-menu li:nth-child(3):hover .st:nth-child(1){
   transform: translateY(110%);
}
.main-menu li:nth-child(3):hover .st:nth-child(2){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st:nth-child(3){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st:nth-child(4){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st{
   opacity: 1;
}
.main-menu li:nth-child(n+4):hover {
	border: 0.5px solid #B96215;
	
}
.main-menu li:nth-child(1):hover {
	border: 0.5px solid #B96215;
	
}
.st:nth-child(3):hover{
	border: 0.5px solid #B96215;
}
.main-menu li:nth-child(2):hover {
	border: 0.5px solid #B96215;
	
}
.main-menu a{
color: white;
text-decoration:none;
}

.main-menu li:nth-child(3) a{
	font-size: 130%;
}
.content1{
height: 630px;
width: 100%;
background: #000; 


}
.content1 img{
	float: left;

}
.content1 p{
color:#256160;
font-family: 'Pacifico', cursive;
font-size: 150%;
text-align:center;
}
.contentp:nth-child(even){
	color: white;
}
#go{
	
	margin-left: 81%;
	width: 10%;
	height: 10%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 6%;

}
#go a{
	text-decoration: none;
	padding:7%;
	color: navy;
	padding-right: 28%;
	padding-left: 28%;
	font-size:400%;
	font-family: 'Marck Script', cursive;
	transition: 0.5s;
}
#go a:hover{
	color:#B96215;
}
.aforizm{
	margin-top: 3%;
	width:100%;
	height:auto;
	text-align: center;
	color: #256160;
	font-family: 'Pacifico', cursive;
	font-size: 190%;
	text-shadow: 1px 1px #fff,
                 1px 1px #fff;
    transition: all 0.7s;
    cursor: pointer;
}
.aforizm:before{
	margin-top: 10%;
	content: "";
	width: 70%;
	height: 0.4%;
	background: #fff;
	position: absolute;
	transform: translateX(-3.6%);
	border-radius: 50%;
	border: 1.5px solid #B96215;
    left: 18%;
}
.aforizm:hover{
  color:#fff;
}


.content2{
	width: 100%;
	height: 100vh;
	
}
.content2-p{
 width: 80%;
 height: 30vh;
 margin-left: 10%;
}
.content2 p{
	color: white;
	font-size: 250%;
	margin-top: 10%;
	text-align: center;
}
 #stat{
 	font-size: 160%;
 	margin-top: -4%;
 	margin-left: -80%;
 	font-family: 'Amatic SC', cursive;
 }
 /*SLIDER*/

  .slider{
  	width: 65%;
  	height: 45vh;
  	margin-top:18%;
  	position: absolute;
  	margin-left: 18%;
  	overflow:hidden;
    transform: translateY(-75%);
    
  }
  .slides{

  	width: 200%;
  	height: 100%;
  	margin: 0;
  	position: absolute;
  	transition: all 1s ease-in-out;	
  }
  
.slides li{
	list-style: none;
	width: 14.6%;
	height: 110%;
	float: left;
	margin-left: 2.5%;
}
.slide a{
	text-decoration: none;
}
.slides li:hover img{
	border-top: 4px solid #B96215;
}

.slides p{
	color: white;
	font-size: 100%;
}

.slides li:nth-child(1){
	margin-left:-1.5%; 	
}
.slide img{
	width: 262px;
	transform: translate(-0.2%);
	height: 175px;		
}

.buttons{
  width: 20%;
  height: 5%;
  position: absolute;
  left:50%;
  margin-top: -11%;
  transform: translate(-50%);
}
.button{
	width: 6%;
	height: 50%;
	background: #fff;
	float: left;
	border-radius: 50%;
	margin-left: 5%;
	list-style: none;
	margin-top: 10%;
	border: 1.5px solid white;
}
.button:nth-child(1){
	margin-left: 22%;
}
.button:hover{
  background: #256160;
}

.footer{
	width: 100%;
	height: 20vh;
	background:#000;
	border-top: 3px solid #256160;
}
.footer p {
	color: white;
	font-size: 110%;
	margin-left: 7%;
	color: RoyalBlue;

}
.footer img{
	width: 100px;
	height: 100px;
	position: absolute;
}
#I{
	color: white;
	font-size: 90%;
}
/*---------------Плеер------------------*/
.player{
	 width: 100%;
	 height: 15vh;
	 background: #fff;
	 position: fixed;
     z-index: 100;
     background: url(img/fon.jpg);
     transition: all 1s;
      bottom: 0;
      opacity: 0;
     visibility: hidden;
     border-top: 1px solid #256160;
}
.img>img{
	height: 100%;
	position: absolute;
}
  
 .next{
 	margin: 1%;
 width: 3.5%;
  height: 40%;
  background: #3d3d3d;
  left: 21.5%;
  position: absolute;
  background: url(img/strelka-left.png) no-repeat;
  cursor: pointer;
  margin-top: 3%;
   }
 .pre{
  width: 3.5%;
  height: 40%;
  background: #3d3d3d;
  left: 12%;
  position: absolute;
  background: url(img/strelka-left.png) no-repeat;
  transform: rotate(180deg);
  margin-top: 2%;
cursor: pointer;
 }
 .stoporplay{
 background: url(img/pause.png);
  width: 5%;
  height: 60%;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
  left: 16.8%;
  position: absolute;
  margin-top: 1.7%;
 }
 .stoporplay:before{
 	
 	width: 8%;
 	height: 60%;
 	background: #fff;
 	position: absolute;
 	top:20%;
 	left: 35%;
 }
 .stoporplay:after{
 
 	width: 8%;
 	height: 60%;
 	background: #fff;
 	position: absolute;
 	top:20%;
 	left: 55%;
 }
 .stoporplay:hover{

 }
 
 .timeline{
 	width: 60%;
 	height: 5%;
 	background: #256160;
 	border-radius: 6%;
    display: flex;
    position: relative;
    left: 30%;
    top:40%;
    cursor: pointer;
 }
 .timekrug{
 	border-radius: 50%;
 	width: 2%;
 	height: 300%;
 	background: #B96215;
 	left: -1%;
 	top:-100%;
 	position: absolute;
 	cursor: pointer;

 }
 .time{
 	width: 12%;
 	height: 20%;
 	position: absolute;
 	left: 30%;
 	top:55%;
 	color: #B96215;
 	font-size: 130%;
 }
 .songname{
 	width: 50%;
 	height: 20%;
 	color: #B96215;
 	font-size: 130%;
 	left: 30%;
 	position: absolute;
 }
.downorup{
	width: 4%;
	height: 50%;
	position: absolute;
	top:-30%;
	left: 45%;
	transform: rotate(90deg);
	transition: 1s;
}
.downorup img{
    height: 60%;
}
.downorup:hover img{
	transform: scale(1.3);
}
.minus,.plus{
	width: 2%;
	height: 22%;
	background: #fff;
	position: absolute;
	font-size: 150%;
}
.minus{
	left:80%;
	top:50%;
}
.plus{
	left:83%;
	top:50%;
}
.procent{
  width: 3%;
  height: 22%;
  background: #fff;
  left: 86%;
  top:50%;
  position: absolute;
}
#c3{
	width: 100%;
	height: 10vh;
	color: white;
}

/*--------------------media--------------------------*/

@media screen and (max-width: 1923px){

    .stati{
    	width: 3.5%;
    	height: 2.2%;
    	margin-top: -0.1%;
    }
.content1 p{
    font-size: 170%;
}
#go{
    margin-left: 73%;
	font-size: 180%;
	margin-top: 5%;
}
.aforizm{
	width: 70%;
	margin-left: 15%;
}
.content2{
	height:900px; 
}
.slider{
	margin-top: 15%;
	width: 48%;
	margin-left: 26%;
}
#stat{
	margin-left: -60%;
	margin-top: 0%;
}
.buttons{
	width: 15%;
	height: 4%;
}
.footer p{
	margin-left: 5%;
}
.slide{
		border: none;
	}


}
@media screen and (max-width: 1600px) and (max-height: 1200px){
   .stati{
   	width: 4.5%;
   	height: 2%;
   	margin-top: -0.4%;
   	margin-left: -0.1%;
   }
   .st:nth-child(1) a{
   	padding-right:24%; 
   }
    .content1 img{
    	width: 60%;
    }
    .content1{
    	height: 800px;
    }
    #go{
    	margin-left: 110%;
    }
   
    .aforizm{
    	margin-top: -10%;
    	width: 80%;
    	margin-left: 10%;

    }
    .content2{
    	height: 900px;
    }
    #stat{
    	margin-top: -10%;
    }
    #go{
    	left: -35%;
    	position: absolute;
    	margin-top: -1%;
    }
    .slider{
    	margin-top: 30%;
    	width: 58%;
    	margin-left: 22%;
    	height: 50%;
    }
    .buttons{
    	margin-top: -14%;
    	width: 15%; 
    	height: 3%;
    }
    .footer p{
    	margin-left: 6%;
    }
    .slide{
		border: none;
	}
}
@media screen and (max-width: 1600px) and (max-height: 900px){
      .stati{
      	margin-top: 0%;
      	height: 2.5%;
      }
      .st{
      	height: 120%;
	}
	#stat{
		margin-top: -5%;
	}
	.slider{
		margin-top: 24%;
	}
	.slide{
		border: none;
	}
	.slide{
		border: none;
	}
}
	@media screen and (max-width: 1600px) and (max-height: 768px){

        .stati{
        	height: 4%;
        }
        #stat{
        	margin-top: -2%;
        }
        .slider{
        	margin-top: 20%;
        }
        .button{
        	width: 5%;
        }
        .footer p{
        	margin-left: 7%;
        }
        .slide{
		border: none;
	}
	}

@media screen and (max-width: 1367px){
	.stati{
		width:5.15%;
		height: 3%;
		margin-top: 0.4%;
	}
	.content1{
		height: 550px;
	}
	.content1 p{
    	margin-top: 1%;
    	font-size: 130%;
	}
	.aforizm{
		margin-top: 0%;
	}
	
	#stat{
		margin-top: 1%;
	}
	.slider{
		margin-top: 21%;
		width: 65%;
		margin-left: 17.5%;
	}
	.footer p{
		margin-left: 7%;
	}
	.slide{
		border: none;
	}
 }
 @media screen and (max-width: 1024px) and (max-height: 768px){
  
      .stati{
      	width: 6.8%;
      }  
      .content1{
      	height: 1000px;
      }
      .main-menu{
      	margin-left: 0%;
      }
      .content1 img{
      	width: 100%;
      }
      .contentp:nth-child(2){
      	font-size: 200%;
      }
      .contentp:nth-child(n+3){
      	text-align: left;
      }
     .contentp:nth-child(3){  	
      	margin-left: 10%;
      	margin-top: -3%;
      }
      .contentp:nth-child(4){  	
      	margin-left: 25%;
      	margin-top: -2%;
      }
      .contentp:nth-child(5){  	
      	margin-left: 40%;
      	margin-top: -2%;
      }
      .contentp:nth-child(6){  	
      	margin-left: 50%;
      	margin-top: -2%;
      }
      #go{
      	font-size: 140%;
      }
      .aforizm{
      	margin-top: -8%;
      	width: 95%;
      	margin-left: 2.5%;
      }
      .aforizm:before{
      	margin-top: 13%;
      }
      .content2{
      	height:  1500px;
      }
      .sec2{
         overflow: hidden;
      }
   .buttons{
   	display: none;
   }
   .slider{
   	width: 80%;
   	height: 150%;
   	overflow: visible;
   	margin-top: 90%;
   	
   }
    #stat{
    	margin-top: 3%;
    }
   .slides{
   	width: 100%;
   	height: 30%;
   }
    .slides li{
    display: block;
   	width: 38%;
   	
   }
   .slide:nth-child(odd){
   	margin-left: -1.5%;
   }
   .slide p{
   	margin-left:0%;
   	width: 90%;
   }
   .footer p{
   	margin-left: 10%;
   }
   .slide{
		border: none;
	}
}
@media screen and (max-width: 481px){
	.stati{
		width: 20%;
		margin-top: 16.5%;
	}
	 .st{
	 	margin-left: 0%;
	 }
	 .main-menu li{
	 	display: block;
	 	margin-left: 0%;
	 }
	 .main-menu{
	 	width: 100%;
	 	height: 100px;

	 }
	 .content1{
	 	margin-top: 100px;
	 	width: 100%;
	 }
	 .content1 img{
	 	width: 100%;
	 }
	 .contentp:nth-child(2){
	 	margin-left: -39%;
	 }
	 .contentp:nth-child(n+3){
	 	margin-left: 20%;
	 }
	 #go{
	 	margin-left: 80%;
	 }
	 .aforizm{
	 	display: none;
	 }
	 .content1{
	 	height: 670px;
	 }
	 .content2{
	 	height: 2900px;
	 }
	 .content2-p{
	 	font-size: 100%;
	 }
	 .slider{
	 	margin-top:170%;	
	 	width: 30%;
     	height: 150%;
        overflow: visible;
        margin-left: 0%;
	 }
	 #stat{
	 	margin-top: 150%;
	 	margin-left: 5%;
	 }
   .slides{
   	width: 100%;
   	height: 30%;
   }
    .slides li{
    display: block;
   	width: 100%;
   	
   }
   .slide p{
   	margin-left:0%;
   	width: 250%;
   }
   .footer img{
   	width: 80px;
   	height: 80px;
   }
   .footer p{
   	margin-left: 23%;
   }
   .slide{
		border: none;
	}
	#preloader-text{
		width: 100%;
		text-align: center;
	}
	#preloader-text2{
		width: 100%;
		text-align: center;
	}
	#load-p{
		margin-left: -10%;
	}
	#preloader{
		margin-left: -8%;
	}
}
@media screen and (max-width: 321px){
	#preloader-text{
        width: 100%;
        text-align: center;
	}
	#preloader-text2{
        width: 100%;
        text-align: center;
	}
	#load-p{
		margin-left: -4%;
		margin-top: -3%;
	}
	.stati{
		width: 20%;
		height: 4%;
		margin-top: 20%;
	}
	.content2-p{
		margin-top: 20%;
	}
	#stat{
		margin-top:230%;
	}
	.slider{
		margin-top: 190%;
	}
	.slides{
		height: 40%;
	}
	.content2{
		height: 2900px;
	}
	.footer img{
		width: 50px;
		height: 50px;
	}
	.footer p{
		margin-left: 18%;
	}
	.slide{
		border: none;
	}

	#load-p{
		margin-left: -12%;
	}
	.content2{
		height:3000px;
	}
}

/*.contentp:nth-child(3){
    	margin-left: 8%;
    	margin-top: -2%;
    }
    .contentp:nth-child(4){
    	margin-left: 20%;
    	margin-top: -2%;
    }
    .contentp:nth-child(5){
    	margin-left: 30%;
    	margin-top: -2%;
    }
    .contentp:nth-child(6){
    	margin-left: 69%;
    	margin-top: -2%;
    }*/








/*.audio-all{
  list-style: none;
  width: 90%;
  height: 90vh;
  color: white;
  margin-left: 4%;
  position: absolute;
}
.audio1{
	float: left;	
	margin:0.2%;
	position: relative;
}
.audio-all>.audio1:nth-child(1){
	width: 15%;
	height: 80%;
	background: orange;

}
.audio-all>.audio1:nth-child(2){
	width: 53%;
	height: 25%;
	background: green;
}
.audio-all>.audio1:nth-child(3){
	width: 30%;
	height: 60%;
	background: green;
}
.audio-all>.audio1:nth-child(4){
	width: 10%;
	height: 30%;
	background: green;
	top:-35%;

}*/

