html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
	background: #000;
}
.content0{
	height: 6vh;
	width: 100%;
	background:#000;
}
.main-menu{
	font-family: 'Amatic SC', cursive;
	list-style: none; 
	font-size: 115%;
	margin-left: 8%;
}
.main-menu li{
    display: inline-block;
	margin-left: 10%;
}
.stati{
	width: 4.3%;
	height: 4%;
	border: 1px solid white;
	position: absolute;
	top:2.5%;
}

.st{
	width: 220%;
	height: 100%;
	background: black;
	list-style: none;
	opacity: 0;
	transition: 0.5s all ease;
	border: 1.5px solid white
}
.st a{
	color: white;
	padding-left:20%;
	padding-right:20%;
}
.st:nth-child(1) a{
	padding-right: 57%;
}
.st:nth-child(2) a{
	padding-right: 40%;
}
.st:nth-child(3) a{
	padding-right: 43%;
}
.st:nth-child(2){
	transform: translateY(-100%);
}
.st:nth-child(3){
	transform: translateY(-200%);
}
.st:nth-child(4){
	transform: translateY(-300%);
}
.main-menu li:nth-child(3):hover .st:nth-child(1){
   transform: translateY(110%);
}
.main-menu li:nth-child(3):hover .st:nth-child(2){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st:nth-child(3){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st:nth-child(4){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st{
   opacity: 1;
}
.main-menu li:nth-child(n+4):hover {
	border: 0.5px solid #B96215;
	
}
.main-menu li:nth-child(1):hover {
	border: 0.5px solid #B96215;
	
}
.st:nth-child(3):hover{
	border: 0.5px solid #B96215;
}
.main-menu li:nth-child(2):hover {
	border: 0.5px solid #B96215;
	
}
.main-menu a{
color: white;
text-decoration:none;
}

.main-menu li:nth-child(3) a{
	font-size: 130%;
}
.front{
	background: #3d3d3d;
}
.others{
	margin-top:5%;
}
#f1_container {
  position: relative;
  width: 250px;
  height: 170px;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front img{
	width: 100%;
	height: 100%;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff;
}
#f1_container{
	float: left;
	margin-left:2%; 
	margin-top: 3%;
}
@media screen and (max-width: 1923px){

    .stati{
    	width: 3.5%;
    	height: 2.2%;
    	margin-top: -0.1%;
    }
  @media screen and (max-width: 1600px) and (max-height: 1200px){
   .stati{
   	width: 4.4%;
   	height: 1.7%;
   	margin-top: -0.4%;
   	margin-left: -0.1%;
   }
   @media screen and (max-width: 1600px) and (max-height: 900px){
      .stati{
      	margin-top: 0%;
      	height: 2.5%;
      }
      @media screen and (max-width: 1600px) and (max-height: 768px){

        .stati{
        	height: 4%;
        }



        @media screen and (max-width: 1367px){
	.stati{
		width:5.3%;
		height: 3%;
		margin-top: 0.4%;
	}
	 @media screen and (max-width: 1024px) and (max-height: 768px){
  
      .stati{
      	width: 6.8%;
      }  

      @media screen and (max-width: 481px){
	.stati{
		width: 17.5%;
		height:3.5%;
		margin-top: 14.3%;
	}
	.main-menu{
		margin-left: -10%;
	}
	.main-menu li{
		display: block;
		height: 200%;
		z-index: 1;
	}
	.others{
		margin-top: 40%;
		margin-left: 15%;
	}
	#f1_container{
		margin-top: 6%;
	}
	@media screen and (max-width: 321px){
		.stati{
		width: 21%;
		height: 3.5%;
		margin-top: 20%;
	}
	.others{
		margin-left: -5%;
	}
	.load-p{
		margin-left: -4%;
	}
}