/*
font-family: 'Merriweather', serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Press Start 2P', cursive;
*/
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #000;
	
}
.content0{
	height: 6vh;
	width: 100%;
	background:#000;
}
.main-menu{
	font-family: 'Amatic SC', cursive;
	list-style: none; 
	font-size: 115%;
	margin-left: 8%;
}
.main-menu li{
    display: inline-block;
	margin-left: 10%;
}
.stati{
	width: 4.3%;
	height: 4%;
	border: 1px solid white;
	position: absolute;
	top:2.5%;
}
.st{
	width: 220%;
	height: 100%;
	background: black;
	list-style: none;
	opacity: 0;
	transition: 0.5s all ease;
	border: 1.5px solid white
}
.st a{
	color: white;
	padding-left:20%;
	padding-right:20%;
}
.st:nth-child(1) a{
	padding-right: 57%;
}
.st:nth-child(2) a{
	padding-right: 40%;
}
.st:nth-child(3) a{
	padding-right: 43%;
}
.st:nth-child(2){
	transform: translateY(-100%);
}
.st:nth-child(3){
	transform: translateY(-200%);
}
.st:nth-child(4){
	transform: translateY(-300%);
}
.main-menu li:nth-child(3):hover .st:nth-child(1){
   transform: translateY(110%);
}
.main-menu li:nth-child(3):hover .st:nth-child(2){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st:nth-child(3){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st:nth-child(4){
   transform: translateY(100%);
}
.main-menu li:nth-child(3):hover .st{
   opacity: 1;
}

.main-menu a{
color: white;
text-decoration:none;
}

.main-menu li:nth-child(3) a{
	font-size: 130%;
}

#big{
	margin-top:3%;
    width: 100%;
    border-top: 1px solid white;	
}
#big img{
	width: 60%;
	float: left;
}
#big p{
	color: white;
}
#text{
	font-size: 160%;
	font-family: 'Marck Script', cursive;
}
#big h1{
	color:#256160;
}
.player{
	 width: 100%;
	 height: 10vh;
	 background: #fff;
	 position: fixed;
     z-index: 100;
     background: url(../img/fon.jpg);
     transition: all 1s;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
     border-top: 1px solid #256160;
}

  
 .next{
 	margin: 1%;
  width: 3.5%;
  height: 40%;
  background: #3d3d3d;
  left: 9.5%;
  position: absolute;
  background: url(../img/strelka-left.png) no-repeat;
  cursor: pointer;
  margin-top: 2%;
   }
 .pre{
  width: 3.5%;
  height: 40%;
  background: #3d3d3d;
  left: 2%;
  position: absolute;
  background: url(../img/strelka-left.png) no-repeat;
  transform: rotate(180deg);
  margin-top: 2%;
cursor: pointer;
 }
 .stoporplay{
 background: url(../img/pause.png);
  width: 5%;
  height: 60%;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
  left: 6.5%;
  position: absolute;
  margin-top: 1.5%;
 }
 .stoporplay:before{
 	
 	width: 8%;
 	height: 60%;
 	background: #fff;
 	position: absolute;
 	top:20%;
 	left: 35%;
 }
 .stoporplay:after{
 	width: 8%;
 	height: 60%;
 	background: #fff;
 	position: absolute;
 	top:20%;
 	left: 55%;
 }

 
 .timeline{
 	width: 60%;
 	height: 5%;
 	background: #256160;
 	border-radius: 6%;
    display: flex;
    position: relative;
    left: 18%;
    top:40%;
    cursor: pointer;
    margin-top: 1%;
 }
 .timekrug{
 	border-radius: 50%;
 	width: 2%;
 	height: 500%;
 	background: #B96215;
 	left: -1%;
 	top:-200%;
 	position: absolute;
 	cursor: pointer;

 }
 .time{
 	width: 12%;
 	height: 20%;
 	position: absolute;
 	left: 20%;
 	top:50%;
 	color: #B96215;
 	font-size: 130%;
 	margin-top: -1%;
 }
 .songname{
 	width: 50%;
 	height: 20%;
 	color: white;
 	font-size: 130%;
 	left: 30%;
 	position: absolute;
 	margin-top: 0.5%;
 }
.downorup{
	width: 5%;
	height: 50%;
	position: absolute;
	top:-5%;
	left: 45%;
	transform: rotate(90deg);
	transition: 1s;
}
.downorup img{
    height: 60%;
}
.downorup:hover img{
	transform: scale(1.3);
}
.minus,.plus{
	width: 2%;
	height: 22%;
	background: #fff;
	position: absolute;
	font-size: 150%;
}
.minus{
	left:80%;
	top:50%;
}
.minus p{
	margin-top: -60%;
}
.plus{
	left:83%;
	top:50%;
}
.plus p{
	margin-top: -65%;
}
.procent{
  width: 3%;
  height: 22%;
  left: 86%;
  top:48%;
  position: absolute;
  background: #fff;
}



 .album{
 	width: 95%;
 	height: 25%;
 	margin-top: 10%;
 	margin-left: 2%;
 }
 .albums{
 	width: 100%;
 	height: 100%;
 }
 
 .albums li{
 	list-style: none;
 	width: 18%;
 	height: 90%;
 	margin-left: 1.8%;
 	display: inline-block;
 	background: #fff;
 	 }
 .albums li:nth-child(1){
 	margin-left: -1.9%;
 }
 .img{
 	height: 100%;
 }
 .pict:nth-child(1){
 	background: url(hu.jpg) no-repeat;
 	background-size: 105%;   
 }
 .pict:nth-child(2){
 	background: url(Dod.jpg) no-repeat;
 	background-size: 120%;   
 }
 .pict:nth-child(3){
 	background: url(nftu.jpeg) no-repeat;
 	background-size: 130%;   
 }
 .pict:nth-child(4){
 	background: url(at.png) no-repeat;
 	background-size: 135%;   
 }
 .pict:nth-child(5){
 	background: url(ss.jpg) no-repeat;
 	background-size: 135%;  
 }
 .pict:hover{
 	transform: scale(1.05); 
 	cursor: pointer; 
 }
 .pict p{
 	text-align: center;
 	color: orange;
 }


 .music{
 	width: 70%;
 	height: 900px;
 	margin-left: 5%;
 	margin-top: 3%;
 	
 }
 .allmusic{
 	width: 100%;
 	height: 100%;
 }
 .musicname{
 	width: 98%;
 	height: 40px;
 	list-style: upper-roman;
 	margin-left: -3%;
 	margin-top: 1%;
 	border-left: 5px solid white;
 	color: white;
 	cursor: pointer;
 }
 .musicname:hover{
 	border: 2px solid #256160;
 }
 .playto{
 	width:3%;
 	height: 80%;
 	border-radius: 50%;
 	border: 1px solid white;
 	margin-left: 0.3%;
 	margin-top: 0.3%;
 }
 .playto img{
 	margin-left: 17%;
 	margin-top:10%;
 
 }
 .musicname p{
 	color: white;
 	display: inline-block;
 }
 .allmusic{
 	width: 100%;
 	height: 100%;
 }
 .playto{
 	display: inline-block;
 }
 .allmusic p{
 	margin-left: 1%;
 }
.footer{
	width: 100%;
	height: 20vh;
	background:#000;
	border-top: 3px solid #256160;
}
.footer p {
	color: white;
	font-size: 110%;
	margin-left: 7%;
	color:royalblue;
}
.footer img{
	width: 100px;
	height: 100px;
	position: absolute;
}
#I{
	color: white;
	font-size: 90%;
}
@media screen and (max-width: 1024px){
	.albums li{
		height: 15vh;
	}
	.playto{
		width: 4%;
	}
	.footer p{
		margin-left: 10%;
	}
}
@media screen and (max-width: 1280px) and (max-height: 1024px){
	#load-p{
        margin-top: 2%;
	}
	.album{
		height: 10vh;
	}
	.albums li{
		height: 12vh;
	}
	
	#text{
		margin-top: -1%;
	}
	.allmusic{
		margin-top: 15%;
	}
	.music{
		height: 75vh;
	}
	.playto{
		width: 4%;
	}
    .footer{
    	height: 15vh;
    }
    .footer p{
    	margin-left: 9%;
    }
    .main-menu{
    	margin-left: 0%;
    }

}


@media screen and (max-width: 768px){
	.main-menu li{
		margin-left: 5%;
	}
	.albums li{
		width: 17%;
        height: 6vh;
	}
    .playto{
    	width: 5%;
    }
    .footer p{
    	margin-left: 13%;
    }

}

@media screen and (width: 1920px){
	#big{
		width: 90%;
		height: 50%;
	}
	.albums li{
		width: 15%;
	}
	.album{
		margin-top:5%;
	}
	.playto{
		width: 2.5%;
	}
}
@media screen and (max-width: 481px){
	#preloader{
		margin-left: -2%;
	}
	#preloader-text2{
		text-align: center;
	}
	#load-p{
		margin-left: -4%;
		margin-top: 0;
	}
	.content0{
		height: 28vh;
	}
	.main-munu{
		margin-left: -30%;
	}
	.main-menu li{
		display: block;
		margin-left: -13%;
	}
    #big img{
    	width: 100%;
    }
    #big p{
      text-align: center;
    }
    .album{
    	height: 200vh;
    }
    .albums li{
    	display: block;
    	height: 30vh;
    	width: 80%;
    	margin-left: -3%;
    	margin-top: 10vh;
    }
    .playto{
    	width: 10%;
    }
    .footer p{
    	margin-left: 30%;
    }
    .timeline{
    	display: none;
    }
    .music{
    	height: 120vh;
    }
}
@media screen and (max-width: 320px) {
	.playto{
    	width: 13%;
    }
    #preloader{margin-left: -5%;
	}
	#preloader-text2{
		text-align: center;
	}
	#load-p{
		margin-left: -8%;
		margin-top: -4%;
	}
	.music{
		height: 120vh;
	}
	
}